<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />

	<property name="CONSOLE_USERS_PATTERN" value="%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %X{idd} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>
	 
	<appender name="CONSOLE_USERS_SERVICE"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				${CONSOLE_USERS_PATTERN}
			</Pattern>
		</layout>
	</appender>

	<root level="INFO" additivity="false">
		<appender-ref ref="CONSOLE_USERS_SERVICE" />
	</root>
	
	<logger name="org.springframework.web.filter" additivity="false" level="DEBUG">
		<appender-ref ref="CONSOLE_USERS_SERVICE" />
	</logger>
	
	<logger name="com.cloud.tutorial.usersservice" additivity="false" level="DEBUG">
		<appender-ref ref="CONSOLE_USERS_SERVICE" />
	</logger>

</configuration>